body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

code {
  font-family: 'Montserrat', sans-serif;

}

main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100hv;
  font-family: 'Montserrat', sans-serif;
}
